@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');

* {
    text-decoration: none;
    list-style: none;
    padding: 0px;
    margin: 0px;
    /* overflow: auto; */
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --hue: 210;
    --h: var(--hue, 210);
    --sat: 60%;
    --s: var(--sat, 40%);
    --light: 15%;
    --lightFactor: 1;
    --l: calc(var(--light, 15%) * var(--lightFactor));
    --a: .99;
    --ascentColor: hsla(var(--hueAscent, 180), 100%, 50%, 1);
    background-color: hsla(var(--h), var(--s), var(--l), var(--a));
    --fontSize: 1rem;
    --fontScale: 1;
    --fontFamily: "Roboto", "Poppins", "Arial";

    /* --fontFamily: "Poppins", "Roboto"; */
}

html {
    text-decoration: none;
    list-style: none;
    padding: 0px;
    margin: 0px;
    color-scheme: var(--colorScheme, dark);
    scroll-behavior: smooth;
    color: var(--textColor, #FFF);
    font-family: var(--fontFamily), "Roboto", "Poppins", "Arial";
    font-size: calc(var(--fontSize) * var(--fontScale, 1));
}


#app {
    display: flex;
    flex-direction: column;
    overflow: none;
    max-width: 100vw;

}

header {
    display: block;
    position: sticky;
    top: 0px;
    z-index: 10;
    background-color: hsla(calc(var(--h) + 0), 100%, 5%, 1);
    font-size: 1rem;

}

#spacegame {
    opacity: .4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding-block: 1em;
}

h1 {
    font-size: clamp(1.5rem, 5vw, 3rem)
}

.section {
    padding-block: clamp(4em, 15vh, 15em);
    --a: .9;
    background-color: hsla(var(--h), var(--sec-sat), var(--sec-light), var(--a));
}

.section:nth-child(even) {

    --sec-sat: calc(var(--s) * 1.2);
    --sec-light: calc(var(--l) * .8);
}

.section:nth-child(odd) {

    --sec-sat: calc(var(--s) * .8);

    --sec-light: calc(var(--l) * 1.2);
}

.container {
    padding-inline: clamp(3em, 10vw, 15em);
}

.container-large {
    padding-inline: clamp(1em, 5vw, 5em);
}





#code {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.527);
    padding: 20px;
    border-radius: 10px;
}



ul {
    text-decoration: none;
    list-style: none;
}

a {
    color: var(--ascentColor);
    text-decoration: none;
}

.selectDisable {
    user-select: none;
}

.selectEnable {

    user-select: all;
}

#container {
    display: block;
    background-color: #EEE;
}



#contact {
    transition: box-shadow 100ms ease-in;
}

#contact ul {
    display: inline-block;

}

#contact li {
    text-transform: uppercase;
    display: inline-block;
}

#contact li:after {
    content: " |";

}

#contact li:nth-child(1):before {
    content: "| ";

}

#contact li>a {

    font-size: .8em;
}

.left-content>h3 {
    display: none;
}

.left-content>p {
    display: block;
    background-color: hsla(0, 0%, 46%, 0.1);
}

.pdf {
    width: 100%;
    text-align: center;
    padding: 0px;
}




.pdfrelated {
    padding-block: 1em;
    text-align: center;
}

.pdfObject {
    height: 100vh;
    width: 80%;
    padding-block: 1em;
}

#Email {
    text-align: right;

}

#image-group {
    width: 200px;

}

#image-group>a {
    display: inline-block;
}

#introduction .p1 {
    padding: 1em 3em;
    margin-block: 1em;
    box-shadow: #ccc 1px 1px 1px;
    border-radius: 1em;
    max-width: 90%;
    background-color: hsla(216, 40%, 38%, 0.2);
}



#Embed * {
    font-size: 0px;
}

#Embed img {
    padding: 5px;

}



.embedImg {
    width: 40px;
}

.pdfBgImg {
    width: 80%;
    display: block;
    margin: auto;
}

.button {
    display: inline-block;
    padding: 5px 15px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
    margin: 20px 0px;
    color: #fff;
    background-color: var(--ascentColor);
}

.button:hover {
    box-shadow: var(--ascentColor) 3px 3px 2;
}

.button>a {
    color: white;
    text-decoration: none;
}


table {
    --table-sat: calc(var(--s) * 1.3);
    --table-light: calc(var(--l) * 1.2);
    --a: .9;
    font-size: 1em;
    background-color: hsla(var(--h), var(--table-sat), var(--table-light), var(--a));
    ;
    padding: 15px;
    border: hsla(0, 4%, 28%, .5) solid 1px;
    margin: auto;
    text-align: center;
    border-radius: 15px;
}

thead {
    background-color: hsla(240, 55%, 8%, 0.4);
}

tr {
    display: block;
    padding: 10px;
}

td {
    vertical-align: top;
    text-align: left;
    display: inline-block;
    padding: 5px;
    margin-inline: 1em;


}

tr:nth-child(even) {
    background-color: rgba(24, 25, 29, .3);
}

td:nth-child(odd) {
    width: 20%;
    text-align: left;
}

td:nth-child(even) {
    width: 60%;
}



nav ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
}


nav>ul>li {
    display: inline-grid;
    place-items: center
}

nav>ul>li a {
    display: inline-grid;
    place-items: center;
    padding: 1em;
    width: 100%;

}

nav>ul>li:hover {
    background-color: hsla(calc(var(--h) + 5), 50%, 15%, 1);
}

nav>ul>li a:hover {
    color: white;
}